@use './mixins' as *;
.font__body {
  &--xl {
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    // font-size: clamp(1rem, 0.709rem + 1.45vw, 1.8rem);
    font-weight: 600;
  }

  &--lg {
    font-size: clamp(0.9rem, 0.773rem + 0.64vw, 1.25rem);
    // font-size: clamp(0.75rem, 0.586rem + 0.82vw, 1.2rem);
    font-weight: 300;
  }

  &--md {
    font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
    // font-size: clamp(0.7rem, 0.591rem + 0.55vw, 1rem);
    font-weight: 300;
  }

  &--sm {
    font-size: clamp(0.813rem, 0.767rem + 0.23vw, 0.938rem);
    // font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
    font-weight: 300;
  }

  &--xs {
    font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
    // font-size: clamp(0.7rem, 0.636rem + 0.32vw, 0.875rem);
    font-weight: 300;
  }
}

.font__title {
  &--xl-en {
    font-family: var(--font-title-en);
    font-size: clamp(2.5rem, 0.878rem + 6.83vw, 6rem);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.1em;
  }

  &--lg-en {
    font-family: var(--font-title-en);
    font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.1em;
  }

  &--md-en {
    font-family: var(--font-title-en);
    font-size: clamp(1.2rem, 0.545rem + 3.27vw, 3rem);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.07em;
  }

  &--sm-en {
    font-family: var(--font-title-en);
    font-size: clamp(1rem, 0.855rem + 0.73vw, 1.4rem);
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 0.1em;
  }

  &--xl-jp {
    font-weight: 300;
    letter-spacing: 0.2em;
    font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  }

  &--lg-jp {
    font-weight: 300;
    letter-spacing: 0.2em;
    font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  }

  &--md-jp {
    font-weight: 300;
    letter-spacing: 0.2em;
    font-size: clamp(0.937rem, 0.623rem + 1.57vw, 1.8rem);
  }
  &--sm-jp {
    font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
    font-weight: 300;
  }
}
