@use '../mixins' as *;
/* ------- header ------- */
.site-footer {
  width: 100%;
  margin-top: clamp(6.25rem, -25.767rem + 64.36vw, 22.5rem);
  background-image: url('../../assets/img/footer.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;

  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 597px) minmax(1.5rem, 1fr);
  justify-content: center;
  align-items: center;

  &__container {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  &__nav {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1rem;
    align-items: center;

    li {
      width: auto;
      font-family: var(--font-title-en);
      font-size: clamp(0.6rem, 0.5rem + 0.5vw, 0.875rem);
      color: var(--color-primary);
      font-weight: 300;
      letter-spacing: 0.1em;
      text-transform: capitalize;
    }
  }
  @include mq {
    &__nav > li {
      display: none;
    }
  }

  &__logo {
    grid-row: 2;
    width: auto;
    height: 100%;
    justify-self: center;

    img {
      width: auto;
      max-height: 73px;
    }
  }

  &__copyright {
    justify-self: center;

    small {
      font-family: var(--font-title-en);
      font-size: clamp(0.6rem, 0.5rem + 0.5vw, 0.875rem);
      color: var(--color-primary);
      font-weight: 300;
      letter-spacing: 0.1em;
      text-transform: capitalize;
    }
  }
}
