@use '../mixins' as *;

.main-visual {
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  @include mq {
    margin-top: 80px;
  }
}

.main-content {
  grid-column: 2;
  grid-row: 2;
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(1rem, 0.273rem + 3.64vw, 3rem);

  &__title {
    grid-row: 1;
  }
  &__article {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include mq {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }

  &__article-card {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 1rem;
      width: 100%;
      height: auto;
    }

    h2 {
      font-family: var(--text-primary);
      font-size: 0.875rem;
      letter-spacing: 0.1em;
      font-weight: 300;
      text-align: start;
    }
  }

  &__button {
    grid-row: 3;
    justify-self: center;
    width: 200px;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(1rem, 0.636rem + 1.82vw, 2rem);

  &__title {
    grid-row: 1;
  }

  &__photo {
    grid-row: 2;
    justify-self: center;
  }

  &__introduction {
    grid-row: 3;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0.25rem;
  }

  &__role,
  &__name,
  &__english-name,
  &__origin {
    justify-self: center;
    align-self: center;
    color: var(--color-primary);
  }

  &__role,
  &__english-name {
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 0.9375rem;
    letter-spacing: 0.1em;
  }

  &__name {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1em;
  }

  &__origin {
    padding-top: 1.25rem;
    font-size: 0.9375rem;
    font-weight: 300;
    letter-spacing: 0.1em;
  }

  &__button {
    grid-row: 4;
    justify-self: center;
    width: 200px;
  }
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(1rem, 0.273rem + 3.64vw, 3rem);

  &__title {
    grid-row: 1;
  }

  &__container {
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0;
  }

  &__family {
    grid-column: 1;
    grid-row: 1;
  }

  &__wedding {
    grid-column: 2;
    grid-row: 1;
  }

  &__maternity {
    grid-column: 3;
    grid-row: 1;
  }

  &__newborn {
    grid-column: 1;
    grid-row: 2;
  }

  &__event {
    grid-column: 2;
    grid-row: 2;
  }

  &__profile {
    grid-column: 3;
    grid-row: 2;
  }
  @include mq {
    &__container {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
    }

    &__wedding {
      grid-column: 2;
      grid-row: 1;
    }

    &__maternity {
      grid-column: 1;
      grid-row: 2;
    }

    &__newborn {
      grid-column: 2;
      grid-row: 2;
    }

    &__event {
      grid-column: 1;
      grid-row: 3;
    }

    &__profile {
      grid-column: 2;
      grid-row: 3;
    }
  }
}

.works-card {
  position: relative;
  width: 100%;
  height: auto;

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-title-en);
    font-weight: 300;
    font-size: clamp(0.8rem, 0.364rem + 2.18vw, 2rem);
    letter-spacing: 0.1em;
    text-transform: capitalize;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.plan-contact {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
}

.plan {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  row-gap: clamp(1rem, 0.273rem + 3.64vw, 3rem);

  &__desc {
    justify-self: center;
    align-self: center;
  }

  &__button {
    grid-row: 3;
    justify-self: center;
    width: clamp(12.5rem, 3.409rem + 45.45vw, 37.5rem);
  }
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(0.5rem, 0.245rem + 1.27vw, 1.2rem);
  align-self: center;

  &__text {
    justify-self: center;
    align-self: center;
  }

  &__button {
    justify-self: center;
    width: clamp(12.5rem, 3.409rem + 45.45vw, 37.5rem);
  }
}
