@use '../mixins' as *;

/* ------- header ------- */
.site-header {
  width: 100%; // 幅100%
  height: 120px; // 高さ120px
  background: var(--color-background);
  position: fixed; // 固定
  z-index: 5;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1168px) minmax(1.5rem, 1fr);

  &__container {
    grid-column: 2;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex; // .logoとnavを横に並べる
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: auto;
      max-height: clamp(2.5rem, 1.955rem + 2.73vw, 4rem);
    }
  }

  // ナビゲーションメニューのスタイリング
  &__nav-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;
    align-items: center;
  }
  &__gnav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;

    ul {
      list-style: none;
      inset: 0;

      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 3rem;
      align-items: center;
      justify-self: flex-end;

      li {
        a {
          text-decoration: none;
          font-size: 20px;
          letter-spacing: 0.1em;
          font-weight: 500;
          font-family: var(--font-title-en);
          text-transform: uppercase;
        }
      }
    }
  }

  // SNSアイコンのスタイリング
  &__sns {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    // gap: 4rem;
    justify-self: flex-end;
    img {
      display: none;
    }
    a {
      width: 32px;
      height: auto;
      display: inline flex;
    }
  }
}

/* ------- hamburger menu ------- */
.site-nav-toggle {
  display: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  z-index: 10;
  justify-content: center;
  align-items: center;

  &::before,
  &::after,
  span {
    content: '';
    height: 1px;
    width: 30px;
    background-color: var(--color-primary);
    position: absolute;
  }

  span {
    transform-origin: left center;
  }

  &::before {
    top: calc(50% - 8px);
  }

  &::after {
    top: calc(50% + 8px);
  }
}

.site-nav-checkbox {
  display: none; // チェックボックスは画面上から隠します
}

@include mq {
  .site-nav-toggle {
    display: flex; // ハンバーガーメニューを表示します
  }

  .site-nav {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/footer.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(100%); // 右側からスライドインするために初期位置を設定
    transition: transform 0.5s ease-in-out; // スムーズな表示切り替えのためのトランジション

    .site-nav-checkbox:checked ~ & {
      transform: translateX(0);
    }
  }

  .site-header {
    height: 80px;
    grid-template-columns: 1rem auto 1.5rem;

    &__container {
      width: 100%;
    }

    &__nav-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 0;
    }

    &__gnav {
      grid-column: 1;
      grid-template-columns: 1fr;
      text-align: center;
      align-self: end;

      ul {
        grid-template-columns: 1fr;
        gap: clamp(1.5rem, 0.431rem + 5.35vw, 3rem);
        justify-self: center;
        width: 50%;
      }
    }

    // SNSアイコンのスタイリング
    &__sns {
      grid-column: 1;
      grid-row: 2;
      gap: 1rem;

      img {
        justify-self: center;
        width: 40%;
        height: auto;
        display: block;
      }

      a {
        justify-self: center;
      }
    }

    #menu-item-20 {
      display: block;
      width: 100%;
      height: 3.5rem;
      font-family: var(--font-title-en);
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 0.1em;
      border: none;
      border-radius: 10px;
      border: 1px solid var(--color-primary);
      background-color: rgba(168, 129, 91, 0.7);
      cursor: pointer;
      line-height: 3.5rem;
      > a {
        color: #fff;
      }
    }
  }

  .site-nav-checkbox:checked ~ .site-nav-toggle {
    span {
      transform: scaleX(0); // チェックボックスがチェックされたときに表示
    }

    &::before {
      top: 50%;
      transform: rotate(30deg);
    }

    &::after {
      top: 50%;
      transform: rotate(-30deg);
    }
  }
  .cls-1 {
    stroke: var(--color-background);
  }
}
/* ------- /.hamburger menu ------- */

.menu-item-underline {
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
}
