@use '../mixins' as *;

.service {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(6.25rem, 2.977rem + 16.36vw, 15.25rem);

  &__title {
    justify-self: center;
    padding: clamp(2rem, 1.273rem + 3.64vw, 4rem) 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
  }

  &__en {
    font-family: var(--font-primary);
    font-weight: 300;
    letter-spacing: 0.2em;
    font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
    text-transform: capitalize;
    line-height: 1;
    justify-self: center;
  }

  &__jp {
    line-height: 1;
    justify-self: center;
  }
}

.plan {
  grid-column: 1/ -1;
  width: 100%;
  margin-top: 120px;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1280px) minmax(2rem, 1fr);

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    justify-self: center;
    gap: clamp(2rem, 1.273rem + 3.64vw, 4rem) clamp(3rem, 2.273rem + 3.64vw, 5rem);

    @include mq {
      grid-template-columns: 1fr;
    }
  }

  &__header {
    grid-column: 1 / -1;
    z-index: 1;
  }

  &__section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    width: 100%;
  }

  &__wrapper {
    margin-bottom: 0;
    justify-self: center;
    width: clamp(9.375rem, 8.239rem + 5.68vw, 12.5rem);
    height: clamp(4.375rem, 3.761rem + 3.07vw, 6.063rem);
    border-radius: 100px 100px 0 0;
    border: 1px solid var(--color-primary);
    border-bottom: none;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__title-area {
    position: absolute;
    top: 43%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    height: auto;
  }

  &__cat {
    letter-spacing: 0.05em;
    text-transform: capitalize;
    line-height: 1;
    justify-self: center;
  }

  &__jp {
    justify-self: center;
  }

  &__photo {
    width: 100%;
    justify-self: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }

  &__introduction {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    gap: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  }

  &__desc {
    line-height: 1.4;
    justify-self: start;
  }

  &__price {
    letter-spacing: 0.12em;
    font-weight: 600;
    line-height: 1;
    justify-self: center;
  }

  &__tax {
    font-weight: 600;
  }

  &__point {
    justify-self: center;

    > li {
      font-weight: 600;

      > span {
        padding-right: clamp(1rem, 0.709rem + 1.45vw, 1.8rem);
      }
    }
  }

  &__common {
    grid-column: 1 / 3;
    grid-row: 2;
    padding: 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    > p,
    > ul > li {
      line-height: 1.6;
    }
    p {
      font-weight: 600;
    }
  }

  &__option {
    grid-column: 3;
    grid-row: 2;

    > h3 {
      font-weight: 600;
      text-transform: capitalize;
    }
    &-price {
      line-height: 1.6;

      > span {
        font-size: 0.7rem;
      }
    }
  }

  @include mq {
    &__content {
      grid-template-columns: 1fr;
      gap: clamp(3.125rem, 0.898rem + 11.14vw, 6.25rem) 0;
    }
    &__light {
      grid-row: 1;
    }
    &__regular {
      grid-row: 2;
    }
    &__premium {
      grid-row: 3;
    }
    &__common {
      grid-row: 4;
    }
    &__option {
      grid-column: 1;
      grid-row: 5;
    }
  }
}

.plan-section-title {
  height: 100px;
  width: 100%;
  background: var(--header-gradation);
  align-content: center;
  padding-left: 5%;
  font-weight: 600;
  color: #fff;
}

.process {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1rem, 0.636rem + 1.82vw, 2rem);

    @include mq {
      grid-template-columns: 1fr;
    }
  }

  &__step {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 0.5fr;

    &-number {
      font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
      padding-top: 24px;
      line-height: 1;
    }

    &-img {
      align-self: center;
      justify-self: center;
      padding: 1rem;
      width: auto;
      height: auto;
    }

    > p {
      line-height: 1.6;
    }

    @include mq {
      grid-template-rows: auto;
    }
  }
}

.policy {
  &__container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
    justify-self: start;
  }

  &__discription {
    line-height: 1.6;
  }

  &__table {
    width: clamp(18.75rem, 14.205rem + 22.73vw, 31.25rem);
    text-align: center;
    border-collapse: collapse;

    th,
    td {
      width: 50%;
      border: 1px solid var(--color-primary);
      line-height: 2;
    }

    th {
      background-color: var(--color-primary);
      color: #fff;
    }
  }
}
