@use '../mixins' as *;

.service {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(6.25rem, 2.977rem + 16.36vw, 15.25rem);

  &__title {
    justify-self: center;
    padding: clamp(2rem, 1.273rem + 3.64vw, 4rem) 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
  }

  &__en {
    font-family: var(--font-primary);
    font-weight: 300;
    letter-spacing: 0.2em;
    font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
    text-transform: capitalize;
    line-height: 1;
    justify-self: center;
  }

  &__jp {
    font-family: var(--font-primary);
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
    line-height: 1;
    justify-self: center;
    color: var(--color-primary);
  }
}

.plan {
  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    justify-self: center;
    gap: clamp(2rem, 1.273rem + 3.64vw, 4rem) clamp(0rem, -0.727rem + 3.64vw, 2rem);
  }

  &__header {
    grid-column: 1 / -1;
    margin-top: 120px;
  }

  &__section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
  }

  &__container {
    height: clamp(18rem, -5.821rem + 47.76vw, 30rem);
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    width: clamp(9.375rem, 8.239rem + 5.68vw, 12.5rem);
    height: clamp(8.75rem, 7.545rem + 6.02vw, 12.063rem);

    border: 1px solid var(--color-primary);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__title-area {
    position: absolute;
    top: 28%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    height: auto;
  }

  &__cat {
    font-family: var(--font-primary);
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
    text-transform: capitalize;
    line-height: 1;
    justify-self: center;
  }

  &__jp {
    font-family: var(--font-primary);
    font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
    letter-spacing: 0.1em;
    color: var(--color-primary);
    justify-self: center;
  }

  &__photo {
    position: absolute;
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    transform: translateY(43%);
  }

  &__introduction {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    gap: 1rem;
    padding: 0 clamp(1rem, 0.636rem + 1.82vw, 2rem);
  }

  &__desc {
    font-family: var(--font-primary);
    font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
    letter-spacing: 0.1em;
    line-height: 1.4;
    color: var(--color-primary);

    justify-self: start;
  }

  &__price {
    font-family: var(--font-primary);
    font-size: clamp(1rem, 0.709rem + 1.45vw, 1.8rem);
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var(--color-primary);

    justify-self: center;
  }

  &__tax {
    font-family: var(--font-primary);
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var(--color-primary);
  }

  &__point {
    justify-self: center;

    > li {
      font-family: var(--font-primary);
      font-size: clamp(0.7rem, 0.482rem + 1.09vw, 1.3rem);
      font-weight: 600;
      letter-spacing: 0.1em;
      color: var(--color-primary);

      > span {
        font-size: clamp(0.7rem, 0.591rem + 0.55vw, 1rem);
        font-weight: 300;
        padding-right: clamp(1rem, 0.709rem + 1.45vw, 1.8rem);
      }
    }
  }

  &__common {
    grid-column: 1 / 3;
    grid-row: 2;
    padding: 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    > p,
    > ul > li {
      font-family: var(--font-primary);
      font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
      letter-spacing: 0.1em;
      line-height: 1.6;
      color: var(--color-primary);
    }
    p {
      font-weight: 600;
    }
  }

  &__option {
    grid-column: 3;
    grid-row: 2;

    > h3 {
      font-family: var(--font-primary);
      font-size: clamp(0.9rem, 0.755rem + 0.73vw, 1.3rem);
      font-weight: 600;
      letter-spacing: 0.1em;
      color: var(--color-primary);
      text-transform: capitalize;
    }
    &-price {
      font-family: var(--font-primary);
      font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
      letter-spacing: 0.1em;
      line-height: 1.6;
      color: var(--color-primary);

      > span {
        font-size: 0.7rem;
      }
    }
  }
}

.plan-section-title {
  height: 100px;
  width: 100%;
  background: var(--header-gradation);
  align-content: center;
  padding-left: 5%;

  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #fff;
}

.process {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  }

  &__step {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 0.5fr;

    &-number {
      font-family: var(--font-primary);
      font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
      color: var(--color-primary);
      padding-top: 24px;
      line-height: 1;
    }

    &-img {
      align-self: center;
      justify-self: center;
      padding: 1rem;
      width: auto;
      height: auto;
    }

    > p {
      font-family: var(--font-primary);
      font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
      letter-spacing: 0.1em;
      line-height: 1.6;
      color: var(--color-primary);
    }
  }
}

.policy {
  &__container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
    justify-self: start;
  }

  &__discription {
    font-family: var(--font-primary);
    font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
    letter-spacing: 0.1em;
    line-height: 1.6;
    color: var(--color-primary);
  }

  &__table {
    width: clamp(18.75rem, 14.205rem + 22.73vw, 31.25rem);
    text-align: center;
    border-collapse: collapse;

    th,
    td {
      width: 50%;
      border: 1px solid var(--color-primary);
      font-family: var(--font-primary);
      font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
      letter-spacing: 0.1em;
      line-height: 2;
    }

    th {
      background-color: var(--color-primary);
      color: #fff;
    }

    td {
      color: var(--color-primary);
    }
  }
}
