@charset "UTF-8";
:root {
  /* ------- Fonts ------- */
  --font-primary: "Shippori+Mincho", serif;
  --font-title-en: "trajan-pro-3", "Cinzel", serif;
  --color-background: #ffffff;
  --header-gradation: linear-gradient(90deg, rgba(168, 129, 91, 1) 00%, rgba(246, 226, 207, 1) 100%);
  --color-primary: #a8815b;
  --container-width: minmax(2rem, 1fr) minmax(auto, 980px) minmax(2rem, 1fr);
}

.font__body--xl {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  font-weight: 600;
}
.font__body--lg {
  font-size: clamp(0.9rem, 0.773rem + 0.64vw, 1.25rem);
  font-weight: 300;
}
.font__body--md {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  font-weight: 300;
}
.font__body--sm {
  font-size: clamp(0.813rem, 0.767rem + 0.23vw, 0.938rem);
  font-weight: 300;
}
.font__body--xs {
  font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
  font-weight: 300;
}

.font__title--lg-en {
  font-family: var(--font-title-en);
  font-size: clamp(2.5rem, 0.878rem + 6.83vw, 6rem);
  font-weight: 300;
  text-transform: capitalize;
}
.font__title--md-en {
  font-family: var(--font-title-en);
  font-size: clamp(1.2rem, 0.545rem + 3.27vw, 3rem);
  font-weight: 300;
  text-transform: capitalize;
}
.font__title--sm-en {
  font-family: var(--font-title-en);
  font-size: clamp(1rem, 0.855rem + 0.73vw, 1.4rem);
  font-weight: 300;
  text-transform: capitalize;
}
.font__title--lg-jp {
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
}
.font__title--md-jp {
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: clamp(0.937rem, 0.623rem + 1.57vw, 1.8rem);
}
.font__title--sm-jp {
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
  font-weight: 300;
}

/* ------- reset ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-primary);
  background: var(--color-background);
  color: var(--color-primary);
  letter-spacing: 0.1em;
}

html {
  font-size: 16px;
}

main {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

ul,
ol {
  list-style: none;
}

/* ------- layout ------- */
main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1168px) minmax(2rem, 1fr);
}

/*  ------- svg ------- */
#icon-instagram {
  width: 20px;
  height: 20px;
}

.cls-1 {
  fill: none;
  stroke: var(--color-praimary);
  stroke-miterlimit: 10;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* ------- /.svg ------- */
/* ------- botton ------- */
.button-container {
  text-align: center;
}

.button {
  display: block;
  width: 100%;
  height: 3.5rem;
  font-family: var(--font-title-en);
  font-size: 1.25rem;
  font-weight: 300;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  background-color: #fff;
  cursor: pointer;
  position: relative;
  line-height: 3.5rem;
}
.button::after {
  content: ">";
  position: absolute;
  top: 50%;
  right: clamp(0.8rem, 0.364rem + 2.18vw, 2rem);
  transform: translateY(-50%);
}

.button-color {
  display: block;
  width: 100%;
  height: 3.5rem;
  font-family: var(--font-title-en);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  color: #fff;
  background-color: rgba(168, 129, 91, 0.7);
  cursor: pointer;
  line-height: 3.5rem;
}

.banner {
  grid-column: 1/-1;
  height: clamp(7.5rem, -0.61rem + 34.15vw, 25rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner-type1 {
  background-image: url("../../assets/img/banner1.webp");
}

.banner-type2 {
  background-image: url("../../assets/img/banner2.webp");
}

.banner-type3 {
  background-image: url("../../assets/img/banner3.webp");
}

.banner-type1,
.banner-type2,
.banner-type3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.banner-type1::before,
.banner-type2::before,
.banner-type3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ------- header ------- */
.site-header {
  width: 100%;
  height: 120px;
  background: var(--color-background);
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1168px) minmax(1.5rem, 1fr);
}
.site-header__container {
  grid-column: 2;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.site-header__logo {
  display: flex;
  align-items: center;
}
.site-header__logo img {
  width: auto;
  max-height: clamp(4rem, 3.795rem + 1.02vw, 4.563rem);
}
.site-header__nav-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 3rem;
  align-items: center;
}
.site-header__gnav ul {
  list-style: none;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 3rem;
  align-items: center;
  justify-self: flex-end;
}
.site-header__gnav ul li a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-family: var(--font-title-en);
  text-transform: uppercase;
}
.site-header__sns {
  display: grid;
  align-items: center;
  grid-template-columns: auto; /* アイコンの幅に合わせる */
  justify-self: flex-end;
}
.site-header__sns img {
  display: none;
}
.site-header__sns a {
  width: 32px;
  height: auto;
  display: inline flex;
}

/* ------- hamburger menu ------- */
.site-nav-toggle {
  display: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.site-nav-toggle::before, .site-nav-toggle::after,
.site-nav-toggle span {
  content: "";
  height: 1px;
  width: 30px;
  background-color: var(--color-primary);
  position: absolute;
}
.site-nav-toggle span {
  transform-origin: left center;
}
.site-nav-toggle::before {
  top: calc(50% - 8px);
}
.site-nav-toggle::after {
  top: calc(50% + 8px);
}

.site-nav-checkbox {
  display: none;
}

@media (max-width: 768px) {
  .site-nav-toggle {
    display: flex;
  }
  .site-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background: var(--color-primary);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .site-nav-checkbox:checked ~ .site-nav {
    transform: translateX(0);
  }
  .site-header__nav-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 0;
  }
  .site-header__gnav {
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .site-header__gnav ul {
    grid-template-columns: 1fr;
    gap: 3.5rem;
    justify-self: flex-start;
  }
  .site-header__gnav ul li a {
    color: var(--color-background);
  }
  .site-header__sns {
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 280px) minmax(1.5rem, 1fr);
    gap: 3.5rem;
    justify-self: flex-start;
  }
  .site-header__sns img {
    grid-column: 2;
    grid-row: 1;
    display: block;
  }
  .site-header__sns a {
    grid-column: 2;
    grid-row: 2;
  }
  .site-header__sns a svg {
    stroke: #fff;
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle span {
    transform: scaleX(0);
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle::before {
    top: 50%;
    transform: rotate(30deg);
    background-color: var(--color-background);
  }
  .site-nav-checkbox:checked ~ .site-nav-toggle::after {
    top: 50%;
    transform: rotate(-30deg);
    background-color: var(--color-background);
  }
  .cls-1 {
    stroke: var(--color-background);
  }
}
@media (max-width: 768px) {
  .site-header {
    height: 80px;
    grid-template-columns: 1rem auto 1.5rem;
  }
  .site-header__container {
    max-width: 95%;
  }
  .site-nav {
    width: 100%;
    height: 100vh;
  }
}
/* ------- /.hamburger menu ------- */
.menu-item-underline {
  width: 100%;
  height: 1px;
  background-color: var(--color-primary); /* 下線の色 */
}

.main-visual {
  grid-column: 1/-1;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .main-visual {
    margin-top: 40px;
  }
}

.main-content {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(6.25rem, -6.064rem + 24.75vw, 12.5rem);
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(1rem, 0.273rem + 3.64vw, 3rem);
}
.news__title {
  grid-row: 1;
  align-items: end;
  color: var(--color-primary);
}
.news__article {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.news__article-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.news__article-card img {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}
.news__article-card h2 {
  text-align: start;
}
.news__article-card span {
  font-family: var(--text-primary);
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  font-weight: 300;
  text-align: start;
}
@media (max-width: 768px) {
  .news__article {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
  .news__article img {
    margin-bottom: 0.2rem;
    aspect-ratio: 4/3;
    object-fit: contain;
  }
  .news__article h2 {
    text-align: center;
  }
}
.news__button {
  grid-row: 3;
  justify-self: center;
  width: 200px;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(1rem, 0.636rem + 1.82vw, 2rem);
}
.about__title {
  grid-row: 1;
  align-items: end;
  color: var(--color-primary);
}
.about__photo {
  grid-row: 2;
  justify-self: center;
}
.about__introduction {
  grid-row: 3;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 0.25rem;
}
.about__role, .about__name, .about__english-name, .about__origin {
  justify-self: center;
  align-self: center;
  color: var(--color-primary);
}
.about__role, .about__english-name {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: clamp(0.6rem, 0.477rem + 0.61vw, 0.938rem);
  letter-spacing: 0.1em;
}
.about__name {
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  font-weight: 300;
  letter-spacing: 0.1em;
}
.about__origin {
  padding-top: 1.25rem;
  font-size: clamp(0.6rem, 0.477rem + 0.61vw, 0.938rem);
  font-weight: 300;
  letter-spacing: 0.1em;
}
.about__button {
  grid-row: 4;
  justify-self: center;
  width: 200px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(1rem, 0.273rem + 3.64vw, 3rem);
}
.portfolio__title {
  grid-row: 1;
  align-items: end;
  color: var(--color-primary);
}
.portfolio__container {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0;
}
.portfolio__family {
  grid-column: 1;
  grid-row: 1;
}
.portfolio__wedding {
  grid-column: 2;
  grid-row: 1;
}
.portfolio__maternity {
  grid-column: 3;
  grid-row: 1;
}
.portfolio__newborn {
  grid-column: 1;
  grid-row: 2;
}
.portfolio__event {
  grid-column: 2;
  grid-row: 2;
}
.portfolio__profile {
  grid-column: 3;
  grid-row: 2;
}
@media (max-width: 768px) {
  .portfolio__container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .portfolio__wedding {
    grid-column: 2;
    grid-row: 1;
  }
  .portfolio__maternity {
    grid-column: 1;
    grid-row: 2;
  }
  .portfolio__newborn {
    grid-column: 2;
    grid-row: 2;
  }
  .portfolio__event {
    grid-column: 1;
    grid-row: 3;
  }
  .portfolio__profile {
    grid-column: 2;
    grid-row: 3;
  }
}

.works-card {
  position: relative;
  width: 100%;
  height: auto;
}
.works-card__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .works-card__title {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}
.works-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}
@media (max-width: 768px) {
  .works-card img {
    opacity: 1;
  }
}
.works-card:hover {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.works-card:hover img {
  opacity: 1;
}

.plan-contact {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
}

.frontpage-plan {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  row-gap: clamp(1rem, 0.273rem + 3.64vw, 3rem);
}
.frontpage-plan__title {
  align-items: end;
  color: var(--color-primary);
}
.frontpage-plan__desc {
  justify-self: center;
  align-self: center;
}
.frontpage-plan__button {
  grid-row: 3;
  justify-self: center;
  width: clamp(12.5rem, 3.409rem + 45.45vw, 37.5rem);
}

.frontpage-contact {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(0.5rem, 0.245rem + 1.27vw, 1.2rem);
  align-self: center;
}
.frontpage-contact__text {
  justify-self: center;
  align-self: center;
}
.frontpage-contact__button {
  justify-self: center;
  width: clamp(12.5rem, 3.409rem + 45.45vw, 37.5rem);
}

.post {
  grid-column: 2;
  width: 100%;
  margin-top: 120px;
}
.post__heading {
  letter-spacing: 0.1em;
  font-size: clamp(1rem, 0.6364rem + 1.8182vw, 2rem);
}
.post__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1rem, 0.818rem + 0.909vw, 1.5rem);
}
.post__content > time {
  font-family: var(--font-primary);
  color: var(--color-primary);
  letter-spacing: 0.1em;
}
.post__news {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1rem, 0.818rem + 0.909vw, 1.5rem);
}

.prev-next {
  margin-top: clamp(6.25rem, 3.977rem + 11.364vw, 12.5rem);
  display: flex;
  justify-content: space-between;
}
.prev-next a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.prev-next__item svg {
  height: 1rem;
  width: auto;
}

.archive-news {
  grid-column: 1/-1;
  width: 100%;
  margin-top: 120px;
  display: grid;
  grid-template-columns: var(--container-width);
  align-self: center;
  justify-self: center;
  padding-bottom: clamp(3rem, -7.195rem + 42.93vw, 25rem);
}
.archive-news__header {
  z-index: 1;
}
.archive-news__container {
  grid-column: 2;
  padding-top: clamp(3rem, 1.545rem + 7.27vw, 7rem);
}
.archive-news__article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 768px) {
  .archive-news {
    margin-top: 40px;
  }
  .archive-news__article {
    grid-template-columns: 1fr;
  }
}

.page-about {
  grid-column: 1/-1;
  width: 100%;
  margin-top: 120px;
  display: grid;
  grid-template-columns: var(--container-width);
  align-self: center;
  justify-self: center;
  padding-bottom: clamp(3rem, -7.195rem + 42.93vw, 25rem);
}
.page-about__header {
  grid-column: 1/-1;
  z-index: 1;
}
.page-about__photo {
  padding-top: clamp(3rem, 1.545rem + 7.27vw, 7rem);
  grid-column: 2;
  align-self: center;
  justify-self: center;
}
.page-about__photo img {
  width: 100%;
}
.page-about__introduction {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}
.page-about__profile {
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 2rem;
}
.page-about__role, .page-about__name {
  letter-spacing: 0.2em;
}
.page-about__role {
  grid-column: 1;
  grid-row: 1;
}
.page-about__name {
  grid-column: 1;
  grid-row: 2;
  align-self: self-end;
}
.page-about__english-name {
  grid-column: 1;
  grid-row: 3;
  align-self: self-end;
}
.page-about__desc {
  grid-row: 2;
  line-height: 2;
}
@media (max-width: 768px) {
  .page-about {
    margin-top: 40px;
  }
}

.concept {
  grid-column: 1/-1;
  width: 100%;
  display: grid;
  grid-template-columns: var(--container-width);
  align-self: center;
  justify-self: center;
  row-gap: clamp(3rem, 1.545rem + 7.27vw, 7rem);
}
.concept__header {
  grid-column: 1/-1;
  grid-row: 1;
  z-index: 1;
}
.concept__content {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  justify-self: center;
}
.concept__title {
  font-size: clamp(1.25rem, 0.541rem + 3.55vw, 3.2rem);
  font-family: var(--font-primary);
  letter-spacing: 0.1em;
  font-weight: 300;
  text-align: end;
}
.concept__text {
  text-align: center;
  line-height: 1.5;
}

.page-portfolio {
  grid-column: 1/-1;
  width: 100%;
  margin-top: 120px;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1280px) minmax(2rem, 1fr);
  align-self: center;
  justify-self: center;
  row-gap: clamp(4rem, 1.091rem + 14.55vw, 12rem);
}
.page-portfolio__header {
  z-index: 1;
}
.page-portfolio > section {
  grid-column: 2;
}
@media (max-width: 768px) {
  .page-portfolio {
    margin-top: 40px;
  }
}

.portfolio-section {
  scroll-margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(0.5rem, -0.773rem + 6.36vw, 4rem);
}
.portfolio-section__title {
  justify-self: center;
}
.portfolio-section__container {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0;
}
@media (max-width: 768px) {
  .portfolio-section__container {
    grid-template-columns: repeat(2, auto);
  }
}
.portfolio-section__photo {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.portfolio-section__subtitle {
  grid-column: 1/-1;
}
.portfolio-section__food {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.portfolio-section__food-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}
.portfolio-section__food-container > img {
  width: 100%;
  height: auto;
  align-self: center;
}
@media (max-width: 768px) {
  .portfolio-section__food {
    grid-template-columns: 1fr;
  }
  .portfolio-section__food-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.service {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(6.25rem, 2.977rem + 16.36vw, 15.25rem);
}
.service__title {
  justify-self: center;
  padding: clamp(2rem, 1.273rem + 3.64vw, 4rem) 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}
.service__en {
  font-family: var(--font-primary);
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  text-transform: capitalize;
  line-height: 1;
  justify-self: center;
}
.service__jp {
  line-height: 1;
  justify-self: center;
}

.plan {
  grid-column: 1/-1;
  width: 100%;
  margin-top: 120px;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1280px) minmax(2rem, 1fr);
}
.plan__content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  justify-self: center;
  gap: clamp(2rem, 1.273rem + 3.64vw, 4rem) clamp(3rem, 2.273rem + 3.64vw, 5rem);
}
@media (max-width: 768px) {
  .plan__content {
    grid-template-columns: 1fr;
  }
}
.plan__header {
  grid-column: 1/-1;
  z-index: 1;
}
.plan__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}
.plan__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  width: 100%;
}
.plan__wrapper {
  margin-bottom: 0;
  justify-self: center;
  width: clamp(9.375rem, 8.239rem + 5.68vw, 12.5rem);
  height: clamp(4.375rem, 3.761rem + 3.07vw, 6.063rem);
  border-radius: 100px 100px 0 0;
  border: 1px solid var(--color-primary);
  border-bottom: none;
  position: relative;
  display: flex;
  justify-content: center;
}
.plan__title-area {
  position: absolute;
  top: 43%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  height: auto;
}
.plan__cat {
  letter-spacing: 0.05em;
  text-transform: capitalize;
  line-height: 1;
  justify-self: center;
}
.plan__jp {
  justify-self: center;
}
.plan__photo {
  width: 100%;
  justify-self: center;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.plan__introduction {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  gap: clamp(1rem, 0.636rem + 1.82vw, 2rem);
}
.plan__desc {
  line-height: 1.4;
  justify-self: start;
}
.plan__price {
  letter-spacing: 0.12em;
  font-weight: 600;
  line-height: 1;
  justify-self: center;
}
.plan__tax {
  font-weight: 600;
}
.plan__point {
  justify-self: center;
}
.plan__point > li {
  font-weight: 600;
}
.plan__point > li > span {
  padding-right: clamp(1rem, 0.709rem + 1.45vw, 1.8rem);
}
.plan__common {
  grid-column: 1/3;
  grid-row: 2;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
}
.plan__common > p,
.plan__common > ul > li {
  line-height: 1.6;
}
.plan__common p {
  font-weight: 600;
}
.plan__option {
  grid-column: 3;
  grid-row: 2;
}
.plan__option > h3 {
  font-weight: 600;
  text-transform: capitalize;
}
.plan__option-price {
  line-height: 1.6;
}
.plan__option-price > span {
  font-size: 0.7rem;
}
@media (max-width: 768px) {
  .plan__content {
    grid-template-columns: 1fr;
    gap: clamp(3.125rem, 0.898rem + 11.14vw, 6.25rem) 0;
  }
  .plan__light {
    grid-row: 1;
  }
  .plan__regular {
    grid-row: 2;
  }
  .plan__premium {
    grid-row: 3;
  }
  .plan__common {
    grid-row: 4;
  }
  .plan__option {
    grid-column: 1;
    grid-row: 5;
  }
}

.plan-section-title {
  height: 100px;
  width: 100%;
  background: var(--header-gradation);
  align-content: center;
  padding-left: 5%;
  font-weight: 600;
  color: #fff;
}

.process__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(1rem, 0.636rem + 1.82vw, 2rem);
}
@media (max-width: 768px) {
  .process__container {
    grid-template-columns: 1fr;
  }
}
.process__step {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 0.5fr;
}
.process__step-number {
  font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  padding-top: 24px;
  line-height: 1;
}
.process__step-img {
  align-self: center;
  justify-self: center;
  padding: 1rem;
  width: auto;
  height: auto;
}
.process__step > p {
  line-height: 1.6;
}
@media (max-width: 768px) {
  .process__step {
    grid-template-rows: auto;
  }
}

.policy__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(2rem, 1.273rem + 3.64vw, 4rem);
}
.policy__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
  justify-self: start;
}
.policy__discription {
  line-height: 1.6;
}
.policy__table {
  width: clamp(18.75rem, 14.205rem + 22.73vw, 31.25rem);
  text-align: center;
  border-collapse: collapse;
}
.policy__table th,
.policy__table td {
  width: 50%;
  border: 1px solid var(--color-primary);
  line-height: 2;
}
.policy__table th {
  background-color: var(--color-primary);
  color: #fff;
}

/* ------- header ------- */
.site-footer {
  width: 100%;
  margin-top: clamp(6.25rem, -25.767rem + 64.36vw, 22.5rem);
  background-image: url("../../assets/img/footer.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 597px) minmax(1.5rem, 1fr);
  justify-content: center;
  align-items: center;
}
.site-footer__container {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.site-footer__nav {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 1rem;
  align-items: center;
}
.site-footer__nav li {
  width: auto;
  font-family: var(--font-title-en);
  font-size: clamp(0.6rem, 0.5rem + 0.5vw, 0.875rem);
  color: var(--color-primary);
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .site-footer__nav > li {
    display: none;
  }
}
.site-footer__logo {
  grid-row: 2;
  width: auto;
  height: 100%;
  justify-self: center;
}
.site-footer__logo img {
  width: auto;
  max-height: 73px;
}
.site-footer__copyright {
  justify-self: center;
}
.site-footer__copyright small {
  font-family: var(--font-title-en);
  font-size: clamp(0.6rem, 0.5rem + 0.5vw, 0.875rem);
  color: var(--color-primary);
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}/*# sourceMappingURL=app.css.map */